.navbar {
    height: 150px;
    color: #ca410b;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}

.logo {
     height: 50px;
     margin: 50px;
}
.cart-button{
  height: 50px;
  margin: 50px;
  /* cursor: pointer; */
}
.menu-button {
    cursor: pointer;
}